@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Baloo Bhaina 2", cursive, sans-serif;
  box-sizing: border-box;
}
.align-contents {
  margin: auto;
}
section {
  margin-bottom: 50px;
}

/* Login Page Styles */

.login-layout {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e6f7f9;
}

.part-one {
  background-image: url("../img/illustration.png");
  background-position: center;
  background-size: cover;
}

.part-two {
  background-color: #e6f7f9;
  font-weight: bold;
}

.part-two a {
  text-decoration: none;
  color: #1db1cf;
}

.part-two a:hover {
  color: #0d9aaa;
}

.top {
  margin-bottom: 40px;
  line-height: 50px;
}

.button-div {
  margin-bottom: 50px;
}

.login-button {
  background-color: #14b5c8;
  border-radius: 15px;
  padding: 10px 40px 6px 40px;
  color: #fff;
  font-weight: bold;
  border-color: transparent;
}

.login-button:hover {
  background-color: #0d9aaa;
  cursor: pointer;
}

.breathing-space {
  margin-bottom: 30px;
}

.top h3 {
  font-weight: bold;
}

/* End of Login Page styles */

/* Sign up page styles */

.signup-layout {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e6f7f9;
}

.top-signup {
  /* margin-top: 10vh; */
  margin-bottom: 40px;
  line-height: 50px;
  /* font-weight: bold; */
}

.top-signup h3 {
  font-weight: bold;
}

.signup-button {
  background-color: #14b5c8;
  border-radius: 15px;
  padding: 10px 40px 6px 40px;
  color: #fff;
  font-weight: bold;
  border-color: transparent;
  text-transform: uppercase;
}

.signup-button:hover {
  background-color: #0d9aaa;
  cursor: pointer;
}

/* End of Sign up page styles */

/* Home page styles */

/* Navbar section */

.nav-link {
  color: #333;
  font-weight: bold;
}

.nav-link li:active {
  color: #14b5c8;
  font-weight: bold;
}

/* End of navbar */

/* Hero Section */

.hero {
  margin-top: 50px;
}

.hero h1 {
  font-weight: 600;
}

.hero p {
  font-weight: 500;
  color: #7c7c7c;
  font-size: 1.2rem;
}

.hero-login {
  border: 2px solid #14b5c8;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #14b5c8;
  color: #fff;
  border-radius: 10px;
  padding: 8px 25px 4px 25px;
  cursor: pointer;
}

.hero-signup {
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  border: 2px solid #14b5c8;
  padding: 8px 25px 4px 25px;
  cursor: pointer;
}

.heroimage {
  width: 95%;
}

/* End of Hero Image Styles */

/* featured section style starts here */
.featured {
  margin-top: 100px;
  /* padding-top: 50px; */
}

.featured h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #bebebe;
  margin-bottom: 50px;
}
.featured-images {
  width: 100%;
}
.featured-images-br {
  width: 55%;
}

/* featured section style ends here */

/* Expert Section Starts */

.experts {
  margin: auto;
}

.experts-whyus {
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading-bg span {
}
.experts-whyus h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

/* Expert Section Ends */

/* Education Style */

.education {
  margin-top: 50px;
}

.education-text {
  margin: auto;
}

/* End of home page styles */
