@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Baloo Bhaina 2", cursive, sans-serif;
  box-sizing: border-box;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.custom-toggler.navbar-toggler {
  border-color: #0fb4c7;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(15, 180, 199, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item .active {
  text-decoration: underline;
  color: #0fb4c7;
}

a:hover {
  color: #0fb4c7;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 0.8rem;
  }
}
.align-contents {
  margin: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .align-contents {
    align-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
    /* overflow: hidden; */
  }
  .one {
    order: 1;
  }
  .two {
    order: 2;
  }
  .three {
    order: 3;
  }
  .four {
    order: 4;
  }
  .five {
    order: 5;
  }
  .six {
    order: 6;
  }
  .seven {
    order: 7;
  }
  .eight {
    order: 8;
  }
  .nine {
    order: 9;
  }
  .ten {
    order: 10;
  }
}

section {
  margin-bottom: 50px;
}

/* Login Page Styles */

.login-layout {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e6f7f9;
  position: absolute;
  /* overflow-y: scroll; */
}

.part-one {
  background-image: url("../img/illustration.png");
  background-position: center;
  background-size: cover;
}

.part-two {
  background-color: #e6f7f9;
  font-weight: bold;
}

.part-two a {
  text-decoration: none;
  color: #1db1cf;
}

.part-two a:hover {
  color: #0d9aaa;
}

.top {
  margin-bottom: 40px;
  line-height: 50px;
}

.button-div {
  margin-bottom: 50px;
}

.login-button {
  background-color: #14b5c8;
  border-radius: 15px;
  padding: 10px 40px 6px 40px;
  color: #fff;
  font-weight: bold;
  border-color: transparent;
}

.login-button:hover {
  background-color: #0d9aaa;
  cursor: pointer;
}

.breathing-space {
  margin-bottom: 30px;
}

.top h3 {
  font-weight: bold;
}

/* End of Login Page styles */

/* Sign up page styles */

.signup-layout {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e6f7f9;
  position: absolute;
}

.top-signup {
  /* margin-top: 10vh; */
  margin-bottom: 40px;
  line-height: 50px;
  /* font-weight: bold; */
}

.top-signup h3 {
  font-weight: bold;
}

.signup-button {
  background-color: #14b5c8;
  border-radius: 15px;
  padding: 10px 40px 6px 40px;
  color: #fff;
  font-weight: bold;
  border-color: transparent;
  text-transform: uppercase;
}

.signup-button:hover {
  background-color: #0d9aaa;
  cursor: pointer;
}

/* End of Sign up page styles */

/* Home page styles */

/* Navbar section */

.nav-link {
  color: #333;
  font-weight: bold;
}

.nav-link li:active {
  color: #14b5c8;
  font-weight: bold;
}

/* End of navbar */

/* Hero Section */

.hero {
  margin-top: 50px;
}

.hero h1 {
  font-weight: 600;
}

.hero p {
  font-weight: 500;
  color: #7c7c7c;
  font-size: 1.2rem;
}

.hero-login {
  border: 2px solid #14b5c8;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #14b5c8;
  color: #fff;
  border-radius: 10px;
  padding: 8px 25px 4px 25px;
  cursor: pointer;
}

.hero-signup {
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  border: 2px solid #14b5c8;
  padding: 8px 25px 4px 25px;
  cursor: pointer;
}

.heroimage {
  width: 95%;
}

/* End of Hero Image Styles */

/* featured section style starts here */
.featured {
  margin-top: 100px;
  /* padding-top: 50px; */
}

.featured h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #bebebe;
  margin-bottom: 50px;
}
.featured-images {
  width: 100%;
}
.featured-images-br {
  width: 55%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .featured-images {
    width: 50%;
    padding-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .featured-images-br {
    width: 55%;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/* featured section style ends here */

/* Expert Section Starts */

.experts {
  margin: auto;
}

.experts-whyus {
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading-bg span {
}
.experts-whyus h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

/* Expert Section Ends */

/* Education Style */

.education {
  margin-top: 50px;
}

.education-text {
  margin: auto;
}

/* End of Education */

/* userrating styles */
.userrating h2 {
  text-align: center;
  font-weight: 600;
}

.userrating img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10%;
}

.userrating p {
  text-align: center;
}

/* end of userrating styles */

/* We have styles */

.wehave {
  padding-top: 40px;
  background-color: #43c3d3;
  margin-bottom: -50px;
  padding-bottom: 50px;
}
.wehave h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  text-transform: uppercase;
}

.wehave p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.wehave img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
}

/* End of We have styles */

/* Blogs Section Styles */

.blogs {
  background-color: #ececec;
  padding-top: 50px;
}
.blogs h2 {
  text-align: center;
  font-weight: 600;
}
.blogs img {
  width: 100%;
}

/* End of Blogs Section Styles */

/* Newsletter Section Start */

.newsletter h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}
.subscriber {
  margin: auto;
}

@media (max-width: 490px) {
  .sub-button {
    display: flex;
    margin: auto;
    margin-top: 10px;
  }
}

.subscriber button {
  border: 0;
  border-radius: 5px;
  background-color: #88d9e3;
  color: #333;
  padding: 8px 30px 5px 30px;
  font-weight: 600;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.subscriber button:hover {
  cursor: pointer;
}

.subscriber input {
  text-align: center;
  border: 0;
  border-radius: 5px;
  padding: 10px 100px 6px 70px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* Newsletter Section End */

/* Footer Section */

.footer {
  background-color: #f7f7f7;
  margin-bottom: -50px;
}
.footer-logo {
  padding-top: 50px;
  padding-bottom: 20px;
}
.app-download {
  padding-bottom: 30px;
  width: 40%;
}

.footer-links {
  padding-top: 50px;
  margin: auto;
  font-weight: 600;
}

@media (max-width: 767px) {
  .footer-links {
    padding-top: 0px;
  }
}

.footer-social {
  margin: auto;
  font-weight: 600;
}
.footer-social img {
  padding: 2px;
}

.bottom-bar {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  /* font-weight: 600; */
}
/* End of Footer Section */

/* End of home page styles */

/* How We Care Page */

.focus-text {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.focus-text h3 {
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 480px) {
  .focus-text br {
    display: none;
  }
}

.attention {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.attention h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 100px;
}

@media (max-width: 410px) {
  .hero br {
    display: none;
  }

  .medical br {
    display: none;
  }

  .lawyers br {
    display: none;
  }
}

/* End of How We Care Page */

/* User profile */

.user-profile {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
  text-align: center;
}

.user-profile a {
  text-decoration: none;
  color: #14b5c8;
  font-weight: 600;
  padding-top: 200px;
}

.user-image {
  margin-bottom: 10px;
  text-align: center;
}

.user-profile form {
  margin-bottom: 20px;
}
.user-profile form label {
  font-weight: 600;
}

.user-profile input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-user-image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-edit-form {
  text-align: left;
}

.user-profile button {
  margin-top: 10px;
  background-color: #14b5c8;
  color: #fff;
  border: 0;
  padding: 10px 50px 8px 50px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.user-profile button:hover {
  background-color: #0a8e9c;
  transform: scale(1.1);
}
/*End of  User profile */
